body {
    background-color:burlywood;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}






@media only screen and (max-width: 600px) {
    .container-center {
        max-width: 600px;
        margin: auto;
        font-size: 15px;
    }

}
@media only screen and (min-width: 768px) {
    .container-center {
        max-width: 600px;
        margin: auto;
        font-size: 20px;
    }

}





.container {
    padding: 0rem 1rem;
    text-align: center;
}


/** links **/
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
}

/** look into BEM naming convention for CSS **/

/** lists **/

.list-non-bullet {
    list-style: none;
    display: inline;
    padding: 0rem 0.5rem;

}



/** navigation **/

.navigation {
    background-color:rgb(35, 172, 214);
    
    color: white;
    padding: 1rem;
    text-align:right;

}

.navigation .nav-brand {
    font-weight: bold;
}

.nav-brand a {
    text-decoration: none;
    color: inherit;
}



.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}


/** header **/

.hero {
    padding: 2rem;
    padding-top: 5rem;

}
@media only screen and (min-width: 600px) {
    .hero .hero-img {
    max-width: 80%;
    width: 300px;
    display: block;
    margin: auto;
    border-radius: 40px;
    }
}
@media only screen and (max-width: 599px) {
    .hero .hero-img {
        max-width: 80%;
        width: 200px;
        display: block;
        margin: auto;
        border-radius: 40px;
    }
}

@media only screen and (max-width: 599px){
    .hero .hero-heading {
        text-align: center;
        padding-top: 1rem;
        color:black;
        font-size: 20px;
    
    }
    

}
@media only screen and (min-width: 600px){
    .hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color:black;
    font-size: 30px;

}
}


/** sections **/

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;

}

.ow {
    background-color: var(--off-white);
}

/** footers **/

.footer {
    
    background-color: rgb(35, 172, 214);;
    padding: 4rem 1rem;
    text-align: center;
    color:black;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white
}

.footer .footer-header {
    font-weight: bold;
    font-size: 20px;
}

.footer ul {
    padding-inline-start: 0px;
}

/** projects **/
.showcase-list {
    padding: 2rem;
}

/** blogs **/
.showcase-blog {
    padding-bottom: 6rem;
}
.fa {
    border-radius: 20px;
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  

  
  .fa-instagram {
    background: pink;
    color:rgb(218, 33, 162);
  }
  
  .fa-github{
      background-color: black;
      color: white;
  }
  .fa-quora{
      background-color: red;
      color:white;
  }
  /*
  
  